.banner_btn {
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  margin: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 5px;
}

.banner_btn:focus,
.banner_btn:hover {
  outline: none;
  color: #fff;
  background-color: #ffc200;
}

.rate_reviews {
  margin-top: -5vh;
  position: relative;
  display: flex;
  align-content: flex-end;
}

i {
  font-size: 2.2vw;
}

.rate_reviews span {
  margin-left: 10px;
  position: relative;
  top: 0.5vh;
  color: #fff;
  font-size: 1.9vw;
}

@media (max-width: 480px) {
  .banner_btn {
    width: auto;
    padding: 10px;
  }

  .banner_btn_container {
    display: flex;
    padding-bottom: 20px;
  }

  .banner_description {
    font-weight: 400;
    font-size: 1rem;
  }

  .rate_reviews i {
    font-size: 1.8rem;
  }

  .rate_reviews span {
    font-size: 1.5rem;
  }
}